$background-gradients: (
    ("pruple-to-dark-blue"        , linear-gradient(0deg, var(--color-amethyst) 0%, #232F69 21%, #1A1A39 78%,  #3C2A92 100%)     , rgb(7,76,153) ), 
    ("light-blue-to-light-purple" , linear-gradient(125deg, rgba(0,132,219,1) 0%, rgba(42,64,146,1) 32%, rgba(71,51,156,1) 60%, rgba(93,42,164,1) 83%)  , #2a4092), 
    ("light-blue-to-dark-blue"    , linear-gradient(0deg, #0380D8 0%, #251D63 100%)  , #0380D8), 
);

// for custom gradients
@each $gradient-name, $gradient, $fallback-color in $background-gradients {
  .has-#{$gradient-name}-gradient-background {
    background-color: $fallback-color;
    background-image: $gradient;
  }
}
// for preset gradients
@each $gradient-name, $gradient, $fallback-color in $background-gradients {
  .has-#{$gradient-name}-background {
    background-color: $fallback-color;
    background-image: $gradient;
  }
}
  
// for solid colors
@each $color-name, $color-hex in $theme-colors {
  .has-#{$color-name}-background-color {
    background-color: $color-hex;
  }
}
  
.post-type-cp_block_areas{
  background-color: var(--color-abyss);
}

body, body:not(.post-type-cp_block_areas) .is-root-container{
  background-color: #ECF7FF;
}