// The very top of the site, element that usually includes
// the site navigation and search for example.
.site-header {
  align-items: center;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  transform: translate(-50%);
  left: 50%;
  max-width: $width-grid-base;
  padding-bottom: var(--padding-site-header-vertical);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-site-header-vertical);
  position: absolute;
  width: 100%;
  z-index: 15;

  @media (max-width: $width-max-mobile) {
    --padding-container-horizontal: 2rem;
  }
}

.site-branding{
  svg{
    height: 4rem;
  }
}

.site-title {
  line-height: 0;
  margin: 0;

  a {
    align-items: center;
    display: flex;
  }
}

.site-content .site-main > :first-child{
  padding-top: 9rem;
}

