.site-footer{
  --color-paragraph: var(--color-white);
  background-color: var(--color-abyss);
  padding: 2rem;
  padding-top: 3rem;
  .footer-edit-link{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-white);
    padding: 1rem;
    margin-bottom: 2rem;
    border: 3px dashed color-mix(in srgb, transparent 60%, var(--color-white));
    font-weight: 700;

  }
  .footer-content{
    border-bottom: 1px solid var(--color-white);
    max-width: $width-wide;
    margin-left: auto;
    margin-right: auto;
  }
  .copi-link-wrapper{
    margin-left: auto;
    margin-right: auto;
    text-align: end;
    display: block;
    padding-bottom: 3rem;
    padding-top: 2rem;
    max-width: $width-wide;

  }
  p:first-child{
    margin-top: 0;
  }
}
