// Gutenberg content
.editor-styles-wrapper,
.article-content {
  max-width: 100%;
  padding-bottom: var(--padding-block);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--padding-block);
}

// Gutenberg core magic

