// stylelint-disable number-max-precision, rem-over-px/rem-over-px
@mixin button() {
  appearance: none;
  background-color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-button);
  color: var(--color-marine);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-paragraph);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  line-height: 1.39;
  margin-bottom: 0;
  overflow: hidden;
  --button-padding-horizontal: calc(32px - calc(var(--border-width-input-field) * 2));
  --button-padding-vertical: calc(16px - calc(var(--border-width-input-field) * 2));
  padding-bottom:var(--button-padding-vertical);
  padding-top: var(--button-padding-vertical);
  padding-left: var(--button-padding-horizontal);
  padding-right: var(--button-padding-horizontal);
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all $transition-duration cubic-bezier(.25, .46, .45, .94);
  white-space: nowrap;
  width: auto;
  min-width: 14rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &.button--no-bg{
    background-color: transparent;
    background: transparent;
    border: 3px solid var(--color-white);
    // remove padding to account for border
    padding-left:   calc( var(--button-padding-horizontal) - 6px);
    padding-right:  calc( var(--button-padding-horizontal) - 6px);
    padding-top:    calc( var(--button-padding-vertical) - 6px);
    padding-bottom: calc( var(--button-padding-vertical) - 6px);
  }
  &.focus,
  &:hover,
  &:focus {
    background-color: var(--color-button-background-hover);
    border-color: var(--color-button-background-hover);
    color: var(--color-button-hover);
  }
}
