// CSS variables
// Define names:
// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/
// ------------------------------------------------------

:root {
  // Brand color pool
  --color-black: map.get($theme-colors, "abyss");
  --color-east-bay: #545773;
  --color-pattens-blue: #eaf1f8;
  --color-scorpion: #5f5f5f;
  --color-checkpoints-blue: #0084DB; 
  --color-medium-blue:      #2A4092; 
  --color-light-blue:       #c4def0; 
  --color-marine:           #180A6A; 
  --color-lavendar:         #B085B7;
  --color-violet:           #5D2AA4;
  --color-amethyst:         #472167;
  --color-abyss:            #1A1A39;
  --color-abyss-light:      #46465F;
  --color-white:            #FFF;


  // Main element colors
  --color-heading: var(--color-abyss-light);
  --color-main: var(--color-abyss);
  --color-paragraph: var(--color-abyss-light);

  // Modern link
  --color-link-text: var(--color-violet);
  --color-link-text-hover: var(--color-black);

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
}

// colors for sass loops
$theme-colors: (
"checkpoints-blue": var(--color-checkpoints-blue), 
"medium-blue":      var(--color-medium-blue),
"light-blue":       var(--color-light-blue),
"marine":           var(--color-marine),
"lavendar":         var(--color-lavendar),
"violet":           var(--color-violet),
"amethyst":         var(--color-amethyst),
"abyss":            var(--color-abyss),
"white":            var(--color-white)
);