// Core/cover block
.wp-block-cover__inner-container > .alignwide {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-cover .wp-block-cover__image-background {
  left: -3px;
  min-width: calc(100% + 3px);
  width: unset;
}