
.text-and-image-block{
  width: 100%;
  &__inner{
    display: flex;
    padding: 3rem 0 3rem 4rem;
    max-width: $width-grid-base;
    margin: auto;
  }
  &__gutenberg-content{
    

  }
}

// style exception if block is first on the page.
body:has(.site-main > .wp-block-group > .wp-block-group__inner-container > .text-and-image-block:first-child){
  .site-main > .wp-block-group:first-child{
    padding-top: 12rem;
  }
  .site-header{
    position: absolute;
  }
}

